*,
::after,
::before,
body,
html {
  box-sizing: border-box;
}
.App {
  display: flex;
  /* justify-content: space-around; */
  text-align: center;
  align-content: center;
  flex-wrap: wrap;
}
.item-product {
  align-self: center;
}
.app-ColorPicker {
  border: 1px solid tan;
  padding-left: 0px !important;
  padding-right: 0px !important;
}
.ColorPicker {
  background-color: rebeccapurple;
  color: white;
  font-weight: bold;
}
.note-seting {
  border: 1px solid springgreen;
}
.panel-body {
  display: flex;
  box-sizing: border-box;
}
.active {
  border: 4px solid rosybrown;
  margin: 15px;
  padding: 20px;
  cursor: pointer;
}
.not-active {
  margin: 15px;
  padding: 20px;
  cursor: pointer;
}
.app-panel {
  border: 1px solid teal;
}
.set-panel {
  background-color: darkorange;
  color: white;
  font-weight: 500;
}
.custom-form {
  width: 90%;
  position: relative;
  left: 4%;
}
.custom-lable {
  font-weight: 600;
  cursor: pointer;
}
.custom-flex {
  flex-direction: column;
  display: flex;
}
.custom-search {
  align-self: center;
}
.custom-form-js {
  width: 100%;
}
.label-default {
  background-color: #38ff00;
  color: white;
  font-weight: 700;
  cursor: pointer;
}
.label-danger {
  background-color: #ff000d;
  color: white;
  font-weight: 700;
  cursor: pointer;
}
.panel-heading-taskform {
  background-color: antiquewhite;
  display: flex;
}
.panel-title-task {
  margin: auto;
  flex-grow: 1;
}
.icon-close-task {
  font-weight: 100 !important;
  position: relative;
  right: 10px;
  align-self: center;
  cursor: pointer;
}
.icon-close-task:hover{
  color: red;
}
